.dashboard {
    background-color: white;
    color: black;
    margin: 2rem;
}

.cards-row {
    display: flex;
    justify-content: space-evenly;
}

.welcome-text {
    font-size: 14px;
}

.main-header {
    font-size: 36px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}